# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Ambientes
.venv/
venv/
.env
.env.*
!.env.example

# Testes e qualidade
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Editores e SO
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
